<HTML>
<head>
</head>
<body>
<form method="POST" action="ajouterCarte_fidelite.php">
<table>
<caption>Ajouter Carte_fidelite</caption>
<tr>
<td>Numero</td>
<td><input type="number" name="numero"></td>
</tr>
<tr>
<td>Id_carte</td>
<td><input type="number" name="id_carte"></td>
</tr>
<tr>
<td>Code_client</td>
<td><input type="number" name="code_client"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>