<HTML>
<head>
</head>
<body>
<form method="POST" action="ajouterCadeau.php">
<table>
<caption>Ajouter Cadeau</caption>
<tr>
<td>Id_cadeau</td>
<td><input type="number" name="id_cadeau"></td>
</tr>
<tr>
	<td>Type</td>
	<td>
		<select name="type">
            <option value="Creme main">Creme main</option>
            <option value="Creme pied">Creme pied</option>
            <option value="Creme visage">Creme visage</option>
    	</select>
    </td>
</tr>
<tr>
<td>Prix</td>
<td><input type="number" name="prix"></td>
</tr>
<tr>
<td>Quantite</td>
<td><input type="number" name="quantite"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>