<HTML>
<head>
</head>
<body>
<form method="POST" action="ajouterClient.php">
<table>
<caption>Ajouter Client</caption>
<tr>
<td>Nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>Prenom</td>
<td><input type="text" name="prenom"></td>
</tr>
<tr>
<td>Email</td>
<td><input type="text" name="email"></td>
</tr>
<tr>
<td>code client</td>
<td><input type="number" name="code_client"></td>
</tr>
<tr>
<td>Credit</td>
<td><input type="number" name="credit"></td>
</tr>
<tr>
<td>Pwd</td>
<td><input type="password" name="pwd"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>